*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    background-color: white;
    color: #333333;
}

p{
    font-size: 1.25rem;
    line-height: 1.5;
}
img{
    border-radius: 10px;    
}

header{
    background-color: pink;
    display: flex;  
    position:sticky;
    top:0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem
}

header nav{
    display:flex;
}

header nav li{
    list-style-type: none;
    display:inline;
    margin-right: 1.5rem;
}

header nav li:last-of-type {
	margin-right:0;

}

header nav li a{
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
}

header nav li a:hover{
    color:  rgb(89, 5, 168);
    text-decoration: underline;

}

#toggle { 
    display: none;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo{
    position:absolute;
    margin:0 auto;
    z-index: 100;
    max-width: 900px;
}
.hero h1{
    top: 10rem;
    position:absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10rem;

}

#weather{
   
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 100;
    color:white;
    font-weight: bold;
    height: 200px;
    width: 200px;
}

#weather li {
    list-style-type: none;
    text-shadow: 1px 1px 2px black; 
  
}

#navButton{
    background-color: rgb(89, 5, 168);
    color:rgb(255, 214, 221);
    padding: 0.75rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold; 
    display: inline-block;
}

#navButton:hover{
    background-color: rgb(37, 0, 75);
    color: rgb(252, 123, 144);
}

.button{
    text-decoration: none;
    text-align: center;
    background-color: pink;
    color:rgb(89, 5, 168);
    padding:0.75rem;
    border-radius: 10px;
    font-weight: bold;
    margin:0.5rem;
    display:inline-block;
}

.button:hover{
    background-color: rgb(252, 123, 144);
    color: rgb(37, 0, 75);
}

#intro{
    max-width: 600px;
    margin:0 auto;
    padding:0 1.5rem;
    text-align: center;
}

.intro{
    max-width: 600px;
    margin-bottom: 3rem;
}

.intro h2{
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(89, 5, 168);
}

.intro h2 span{
    font-size: 2rem;
    margin-top:0.5rem;
    color: rgb(89, 5, 168);
}

.intro p{
    font-size: 1.25rem;
    font-style: italic;
    max-width: 600px;
    text-align: center;
}

#intro h3{
    text-align: center;
    font-size: 1.5rem;
    color: #555;
    
}

.highlight{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.highlight div{
    width:90%;
}

.highlight h4{
    font-size: 1.75rem;
}

.highlight p{
    font-style: italic;
}

.highlight img{
    width: 90%;
    max-height: 600px;
    object-fit: cover;
}

.highlightInfinity{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    margin-bottom: 2rem;
    margin: 3rem auto;
    padding:3rem;
}

.highlightInfinity video{
    max-width: 400px;
}

.highlightInfinity .text{
    max-width: 400px;
    margin: 2rem;    
}

.feature_row{
    display:flex;
    gap:3rem;
    max-width:1200px;
    margin: 4rem auto;
    padding:0 1.5rem;
}

.feature_card{
    flex:1;
    text-align: center;
}

.feature_card img{
    width:100%;
    max-height:350px;
    object-fit:cover;
    border-radius: 10px;
}

.feature_card video{
    width:100%;
    max-height:350px;
    object-fit:cover;
    border-radius: 10px;
}

.feature_card h4{
    font-size:1.5rem;
    margin-top: 1rem;
}
.feature_card p{
    font-style: italic;
}

#accommodations {
    max-width:1200px;
    margin:0 auto;
    padding: 3rem 1.5rem;
    text-align: center;

}

#accommodations h3{
    color: rgb(89, 5, 168);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

.roomHighlight{
    margin-bottom: 2.5rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.roomHighlight img{
    width: 90%;
    max-width: 600px;
    margin-bottom: 1rem;
}

.roomHighlight h4{
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color:rgb(89, 5, 168);
}

.roomHighlight p{
    margin-bottom: 2rem;
    line-height: 1.1;

}

.roomHighlight .button{
    display: inline-block;
}

#testimonialHighlight{
    max-width: 1000px;
    margin:0 auto;
    padding:1rem;
    text-align: center;
}

#testimonialHighlight h3{
    color: rgb(89, 5, 168);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

#testimonialHighlight cite{
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#testimonialHighlight q{
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#testimonialHighlight.button{
    margin-top: 2rem;
}

.pageContent{
    max-width: 1200px;
    margin:0 auto;
    padding: 2rem;
}

.hotelRoom{
    margin-bottom: 3rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffeeee;
}

.restaurant{
    margin-bottom: 3rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
}

.activities dl{
    margin-bottom: 1.5rem;
}

.activities dt{
    font-weight: bold;
    margin-top: 0.5rem;
}

.activities dd{
    font-style: italic;
    margin-bottom: 0.5rem;
}

#spaMenu article{
    border: 1px solid black;
    border-radius: 10px;
    padding:1.5rem;
    margin:2rem auto;
    background-color: #ffeeee;
}

blockquote{
    margin:2rem;
    font-style: italic;
}

.bookingForm{
    max-width: 600px;
    margin:2rem auto;
    padding: 2rem;
    background-color: #ffeeee;
    border-radius: 10px;
    text-align: center;
}

.bookingForm h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.bookingForm input{
    width:100%;
    padding:0.75rem;
    margin-bottom:1.25rem;
    border-radius: 10px;
    font-size: 1rem;
}

.bookingForm select{
    width:100%;
    padding:0.75rem;
    margin-bottom:1.25rem;
    border-radius: 10px;
    font-size: 1rem;
}

.bookingForm textarea{
    width:100%;
    padding:0.75rem;
    margin-bottom:1.25rem;
    border-radius: 10px;
    font-size: 1rem;
}
.bookingForm label{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.bookingForm button{
    margin-top: 1rem;
    width:50%;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}

footer{
    background-color: aliceblue;
    margin-top: 2rem;
    padding: 0;
    width: 100%;
}

@media screen and (max-width:1260px) {
    body{
        background-color: white;

    }
    #toggle{
        display:block;
        background: none;
        border: none;
        color:  rgb(89, 5, 168);
        font-size: 200%;
        font-weight: bolder;
        cursor: pointer;
    }
    header nav{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        z-index: 100;
        background-color: pink;
        flex-direction: column;
        display: none;
    }
    header nav.active{
        display: block;
    }
    header nav ul{
        padding-left: 0;
    }
    header nav li{
        display: block;
        text-align: center;
        margin-right: 0;
    }
    header nav li a{
        display: block;
        padding:1rem;
    }
}